
/SchedulerCenter
/SchedulerCenter.Host/bin
/SchedulerCenter.Host/obj
.vs
packages/*
SchedulerCenter.Application/bin
SchedulerCenter.Application/obj

SchedulerCenter.Infrastructure/bin
SchedulerCenter.Infrastructure/obj