
src/SchedulerCenter
src/SchedulerCenter.Host/bin
src/SchedulerCenter.Host/obj
.vs
packages/*
src/SchedulerCenter.Application/bin
src/SchedulerCenter.Application/obj

src/SchedulerCenter.Infrastructure/bin
src/SchedulerCenter.Infrastructure/obj